body{
	font-family: "Trebuchet MS", sans-serif;
	margin: 10px;
}
img{max-width: 100%;}
#goto-menu a{
	//width:50px;
	height: 50px;
	position: fixed;
	right: 10px;
	top: 45%;
	color: gray;
}	
#goto-top a{
	//width:50px;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom: 5px;
	color: gray;
}
.str_p {color: gray;} 
.pla_p {color: yellow;}
.exe_p {color: green;}
.mon_p {color: blue;}
.end_p {color: red;}